.screen-reader-text{
	@extend .sr-only;
}


// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	@include center-block;
}


body main {

	$cluster-fz: (
	  default : 14px,
	  small   : 15px,
	  medium  : 16px,
	  large   : 18px
	);

	@include font-size($cluster-fz);
}

.img-circle {
	border: solid 1px rgba($gray-light, 0.3);
}