.main-navigation{

	#main-navbar{

		@include breakpoint($screen-sm-min){
			display: flex !important;
			justify-content: center;
		}
		text-transform: uppercase;
	}

	.menu-item{
		// @include myoutline(red);

		$navmain-fz: (
			default : 11px,
			small   : 12px,
			medium  : 12px,
			large   : 1.45rem,
			1600px  : 18px
		);
		@include font-size($navmain-fz);

		a{ 
			padding: 10px 11px; 
			@include breakpoint($screen-md-min){
				padding: 10px 9px; 
			}
		}
	}

	.dropdown-menu{
		a{ 
			// @include myoutline(red);
			padding: 4px 11px; 
			@include breakpoint($screen-md-min){
				padding: 4px 9px; 
			}
		}
	}



	.navbar-nav > .current-menu-item,
	.navbar-nav >.current-menu-parent
	 {
		& > a{ border-bottom: solid 3px $brand-primary; }
	}
  

	.navbar-header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: $brand-primary;
	
		.navbar-toggle-cont{
			// @include myoutline(red);
			width: susy-span(6);
			order: 99;

			.navbar-toggle{
				color: $link-color-reverse;

				&:hover, &:focus{
					color: $link-hover-color-reverse;
				}
			}
		}

		.navbar-header-logo{
			// @include myoutline(red);
			width: susy-span(6); 
			padding: $padding-base-vertical $padding-base-horizontal 0 gutter(); 

			@include breakpoint($screen-sm-min){
				display:none;
			}
		}
	}  

	.navbar{

		@include breakpoint(max-width $screen-sm-min){
			border-width: 0;
		}
	}

	.divider{
		@include breakpoint(max-width $screen-sm-min){
			display: none;
		}
	}

}


.home-header{
	

	// #menu-main-menu > .menu-item > a{

	// 	@include breakpoint($screen-sm-min){
			
	// 			color: #fff;
	// 			background-color: transparent;
	// 			text-shadow: 1px 1px 3px $gray-light; 

	// 			&:hover, &:focus{
	// 				color: darken(#fff, 10%);
	// 				background-color: transparent;
	// 			}
	// 	}

	// }


		#main-navbar{

		@include breakpoint($screen-sm-min){
			justify-content: center;
		}

	}
	


	#main-navbar.in{
		@include breakpoint(max-width $screen-sm-min){
			background-image    : url("./assets/dist/images/pattern.jpg");
			background-repeat   : repeat;
		}
	}

}