#custom-cta-services{
    // @include myoutline(red);
    display         : flex;
    justify-content : space-between;
    align-items     : flex-start;
    flex-wrap       : wrap;

	.myitem{
		width: susy-span(6);
		.panel{ margin: gutter() susy-span(1); }
	}

	img{
		@extend .img-circle;
	}

}
