.site-footer{
	color: #fff;
	a{
		color: $link-color-reverse;
		&:hover, &focus{
			color: $link-hover-color-reverse;
		}
	}

	.lg-social-media-cont{

		.lg-social-media{
			@extend .list-inline;
			i.fa{
				@extend .fa-2x;
			}
		}
	}

	h2, .h2{
		font-size: $font-size-h4;
		text-transform: uppercase;
		margin-top: 0;
	}

	// Logo
	svg{
		max-width: 300px;
	}


	// Form
	// bootstrap input styling
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea, select {
		border:{
			top-color   : transparent;
			right-color : transparent;
			bottom-color : #fff;
			left-color  : transparent;
		} 
	} 

	.gform_button{
		@extend .btn-block;
		text-transform: uppercase;
	} 
}
