.site-header{

	&#masthead{}

	&-alpha, &-bravo{
		// @include myoutline(red);
	}

	&-alpha{
		display: none;

	@include breakpoint($screen-sm-min){
		background-color: $brand-primary;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo{
			width: 100%;
			padding: 2.4rem;

			a{
				max-width: 300px;
				display: block;
				img {
					width:100%;
					height:auto;
				}
			}
		}
	}


	}

	&-bravo{

	}


	.site-header-utility{
		text-align: center;
		background-color: $gray-dark;
		// padding: 1.4rem;
		
		@include breakpoint($screen-sm-min){
			text-align: right;
		}

		// Base
		a{
			color: $link-color-reverse;
			&:hover, &:focus{
				color: $link-hover-color-reverse;
			} 
		}
	}
}

.navbar-header-logo {
	a{
		img{
			width:100%;
			height:auto;
		}
	}
}

.custom-logo-link {
	img {
		max-width:100%;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> develop
