#our-plans{
	// @include myoutline(red);

	.nav-cont{
		text-align: center;
		.nav{
			display: inline-block;
		}
	}

	// Pills
	// -------------------------
	.nav-pills {
	  > li {
	    float: left;

	    // Links rendered as pills
	    > a {
	      border-radius: 0;
	      text-transform: uppercase;
	      padding: 10px 25px;
	      border-bottom: solid 4px transparent;
	      color: $brand-primary;
	      font-weight: map-get($font-weight, bold);
	    }
	    + li {
	      margin-left: 4.1rem;
	    }

	    // Active state
	    &.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: $gray-base;
	        background-color: transparent;
			border-bottom-color: $brand-primary;
	      }
	    }
	  }
	}


	// Panel Design
	.panel{
		display         : flex;
		flex-direction  : column;
		align-items     : flex-start;
		justify-content : flex-start;
		flex-wrap: wrap;
		position: relative;
	}

	.panel-heading{
		background-color: #fff;
		border-bottom-color: transparent;
		width: 100%;
		h2{
			text-transform: uppercase;
			text-align: center;
			font-weight: map-get($font-weight, medium);
			font-size: $font-size-h3;
		}
	}
	
	.panel-body{
		width: 100%;
		flex-grow: 1;

		.mytitle{ font-weight: map-get($font-weight, medium); }

		// Let add a icon for list items
		ul{
			// @include fa-list-icon($faIcon: f00c, $faIcon-left: -1.4, $fa-color: inherit)
			@include fa-list-icon('f046');
			
			li{ margin-bottom: gutter(); }
		}
	
	}

	.panel-footer{
		width: 100%;
		background-color: #fff;
		border-top-color: transparent;

		.btn{
			font-weight: map-get($font-weight, light);
		}
	}

}