#tct-services{

	// thumbnail
	.thumbnail{
		position: relative;
		background-color : transparent;
		border-color: transparent; 

		.caption{
			text-align: center;
			padding-top: 2.0rem;

			// Headings
			h1, h2, h3, h4, h5, h6,
			.h1, .h2, .h3, .h4, .h5, .h6 {
				// color: #fff;
				margin: 0;
				padding: 0;
				font-size: $font-size-h4;
			}

			.mytitle{
				color: $brand-primary;
				text-transform: uppercase;
			}

			div.btn{
				font-weight: map-get($font-weight, medium);
				text-decoration: underline;
			}

		}
 
		&:hover, &:focus{ opacity: 0.85; }
		
	}


	// Shame
	.body-copy{
		margin-bottom: 0;
	}


	.circular-square {
		width         : 150px;
		height        : 150px;
		position      : relative;
		overflow      : hidden;
		border-radius : 50%;
		border        : solid 1px $gray-lighter;
		background-color: $gray-lighter;
		margin-left   : auto;
		margin-right  : auto;


		img {
			display: inline;
			margin: 0 auto;
			height: 100%; 
			width: auto;
		}
	}

}