#technical-accordion{
	// @include myoutline(red);

	.nav-cont{
		text-align: center;
		.nav{
			display: inline-block;
		}
	}

	// Pills
	// -------------------------
	.nav-pills {
	  > li {
	    float: left;

	    // Links rendered as pills
	    > a {
	      border-radius: 0;
	      text-transform: uppercase;
	      padding: 10px 25px;
	      border-bottom: solid 4px transparent;
	      color: $brand-primary;
	      font-weight: map-get($font-weight, bold);
	    }
	    + li {
	      margin-left: 4.1rem;
	    }

	    // Active state
	    &.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: $gray-base;
	        background-color: transparent;
			border-bottom-color: $brand-primary;
	      }
	    }

	    // Icon
	    img{
	    	@extend .img-circle;
	    	border: solid 1px $gray-light;
	    	margin: 24px;
	    }

	    & > img{ display: none; }

	    &.active > img{ display: block; }

	  }
	}


	// Panel Design
	.panel{
		display         : flex;
		flex-direction  : column;
		align-items     : flex-start;
		justify-content : flex-start;
		flex-wrap: wrap;
		position: relative;
	}

	.panel-heading {
		background-color: $brand-primary;
		border-bottom-color: transparent;
		width: 100%;
	
		h2{
			text-transform: uppercase;
			text-align: left;  
			font-weight: map-get($font-weight, medium);
			font-size: $font-size-h3;
			color: #fff;
		}


		a[aria-expanded="true"]{
			display: block;
			width: 100%;
			@include fa-sudo(false, 'f068', 0.3, $gray-light); // Minus
			&:after{ float: right; }
		}

		a{
			display: block;
			width: 100%; 
			@include fa-sudo(false, 'f067', 0.3, $gray-light); // Minus
			&:after{ float: right; }
		}



	}
	
	.panel-body{
		width: 100%;
		flex-grow: 1;
		text-align: initial;
		padding: 24px 48px;

		.mytitle{ font-weight: map-get($font-weight, medium); }

		// Let add a icon for list items
		ul{
			// @include fa-list-icon($faIcon: f00c, $faIcon-left: -1.4, $fa-color: inherit)
			@include fa-list-icon('f046');
			
			li{ margin-bottom: gutter(); }
		}

		hr{
			border-color: transparent;
			clear: both;
		}

		.img-circle{
			@extend .img-circle;
			// margin: 0 48px;
		}

	
	}

	.panel-footer{
		width: 100%;
		background-color: #fff;
		border-top-color: transparent;

		.btn{
			font-weight: map-get($font-weight, light);
		}
	}

}