.widget-area{

	.widget, .list-custom-taxonomy-widget{
		// @include myoutline(red);

		.widget-title{
			font-size: $font-size-h4;
			text-transform: uppercase;
			background-color: $gray-dark;
			padding: 1.4rem;
			color: #fff;
		}

		& > ul{
			@include list-unstyled;
			li{
				text-transform: uppercase;
				font-weight: map-get($font-weight,  light);
				margin-bottom: $padding-large-vertical;
			} 
		}
	}

	// Form
	.gform_widget{
		// @include myoutline(red);
		
		.gform_wrapper{
			border: solid 1px $gray-light;
			border-radius: $border-radius-base;
			padding: $font-size-base;
			box-shadow: 0px 0px 5px $gray-light;
		}

		.gform_button{
			width: 100%;
			text-transform: uppercase;
		}
	}

	// search
	.widget_search{

		.search-form{
			// @include myoutline(red);
			display: flex;
			justify-content: flex-start;
			align-items: center;

			label{ 
				width: susy-span(8); 
				margin-bottom: 0;
			}
		}

		.search-submit{
			@extend .btn;
			@extend .btn-default;
			width: susy-span(4);
			border-radius: 0;
		}

		.search-field{
			@extend .form-control;
			width: 100%;
		}
	}

	// Calendar
	.widget_calendar{
		.calendar_wrap{
			width: 100%;

			& > table{
				@extend .table;
			}
		}
	}

}