.delta-form{

	&_wrapper{
		width: susy-span(8);
		margin-left: auto;
		margin-right: auto;
		padding: 2.4rem;
		border: solid 1px $gray-lighter;
		border-radius: $font-size-base / 2;
		box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	}

	div.gform_heading{
		margin-bottom: 3.4rem;

		h3.gform_title{
			text-align: center;
			font-size: $font-size-h2;
		}

	}
	
	.gform_body{}
	
	div.gform_footer{
		width: susy-span(8);
		width: susy-span(8);
		margin-left: auto;
		margin-right: auto;

		.gform_button{
			width: 100%;
			text-transform: uppercase;
		}
	}
	
}