
.home-header{

	.logo-cont{
		// @include myoutline(green);
	}

	.logo{
				@include breakpoint(max-width $screen-sm-min){
			display:none;
		}
	}

	.home-form{
		// @include myoutline(green);
		@include breakpoint(max-width $screen-sm-min){
			display:none;
		}


		background-color: $brand-primary;
		color: #fff;


		article{
			// @include myoutline(green);
			margin: 4.0rem;

			h2, .h2{
				text-transform: uppercase;
			}

		}

		.charlie-form{
			// @include myoutline(green);
			position: relative;
			background-color: #fff; 
			color: initial;
			margin-bottom: -1px;
			margin-right: -1px;

			&:before{
				content: '';
				width: 0;
				height: 0;
				border-top: 30px solid $brand-primary;
				border-right: 30px solid transparent;
			    position: absolute;
			    top: -1px;
			}

			&:after{
				content: '';
				width: 0;
				height: 0;
				border-bottom: 30px solid $gray-base;
				border-left: 30px solid transparent;
			    position: absolute;
			    top:-1px;
			}

			.gform_wrapper{
				margin-left: 30px;
				padding-top: 30px;
			    padding-right: 30px; 
			}

			.gform_button{
				width: 100%;
				background-color: $gray-base;
				border-color: $gray-base;
				text-transform: uppercase;
			}


		}
	}

}
