.main-services{
	// @include myoutline(red);

	// Base Reset
	margin-bottom: 0;
	background-color: transparent;
	border-color: transparent;

	// Layout
	display: flex;
	flex-direction: column;
	@include breakpoint($screen-sm-min){flex-direction: row; }
	justify-content: space-between;


	.img-cont, .caption, .content{
		// @include myoutline(green);
	}

	.img-cont{
		width: susy-span(12);
		align-self: center;

		@include breakpoint($screen-sm-min){
			width: susy-span(2);
		}

		img{ @include img-responsive(); }

		.circular-square {
			width         : 150px;
			height        : 150px;
			position      : relative;
			overflow      : hidden;
			border-radius : 50%;
			border        : solid 1px $gray-light;
			background-color: #fff;
			margin-left   : auto;
			margin-right  : auto;


			img {
				display: inline;
				margin: 0 auto;
				height: 100%; 
				width: auto;
			}
		}

		a:hover, a:focus{
			opacity: 0.8;
		}
	}
	
	.caption{
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(5);
		}

		h2{
			text-transform: uppercase;
			margin-top: 0;
		}
	}
	
	.content{
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(5);
		}

		// Let add a icon for list items
		ul{
			@include fa-list-icon('f046');
			li{ margin-bottom: gutter(); }
		}
	}


}