// Padding -------------------------------------------------------------------------------------------------------------

	// Padding Top
	.pt-xs{ padding-top: $padding-base-vertical; }
	.pt-sm{ padding-top: $padding-base-vertical * 2; }
	.pt-md{ padding-top: $padding-base-vertical * 4; }
	.pt-lg{ padding-top: $padding-base-vertical * 6; }

	// Padding Right
	.pr-xs{ padding-right: $padding-base-vertical; }
	.pr-sm{ padding-right: $padding-base-vertical * 2; }
	.pr-md{ padding-right: $padding-base-vertical * 4; }
	.pr-lg{ padding-right: $padding-base-vertical * 6; }

	// Padding Bottom
	.pb-xs{ padding-bottom: $padding-base-vertical; }
	.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
	.pb-md{ padding-bottom: $padding-base-vertical * 4; }
	.pb-lg{ padding-bottom: $padding-base-vertical * 6; }

	// Padding Left
	.pl-xs{ padding-left: $padding-base-vertical; }
	.pl-sm{ padding-left: $padding-base-vertical * 2; }
	.pl-md{ padding-left: $padding-base-vertical * 4; }
	.pl-lg{ padding-left: $padding-base-vertical * 6; }

// Margin --------------------------------------------------------------------------------------------------------------

	// Margin Top
	.mt-xs{ margin-top: $padding-base-vertical; }
	.mt-sm{ margin-top: $padding-base-vertical * 2; }
	.mt-md{ margin-top: $padding-base-vertical * 4; }
	.mt-lg{ margin-top: $padding-base-vertical * 6; }

	// Margin right
	.mr-xs{ margin-right: $padding-base-vertical; }
	.mr-sm{ margin-right: $padding-base-vertical * 2; }
	.mr-md{ margin-right: $padding-base-vertical * 4; }
	.mr-lg{ margin-right: $padding-base-vertical * 6; }

	// Margin bottom
	.mb-xs{ margin-bottom: $padding-base-vertical; }
	.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
	.mb-md{ margin-bottom: $padding-base-vertical * 4; }
	.mb-lg{ margin-bottom: $padding-base-vertical * 6; }

	// Margin Left
	.ml-xs{ margin-left: $padding-base-vertical; }
	.ml-sm{ margin-left: $padding-base-vertical * 2; }
	.ml-md{ margin-left: $padding-base-vertical * 4; }
	.ml-lg{ margin-left: $padding-base-vertical * 6; }

// Background  ---------------------------------------------------------------------------------------------------------

	.bg-gray-base{ background-color   : $gray-base; }
	.bg-gray-darker{ background-color : $gray-darker; }
	.bg-gray-dark{ background-color   : $gray-dark; }
	.bg-gray{background-color         : $gray;}
	.bg-gray-light{ background-color  : $gray-light; }
	.bg-gray-lighter{background-color : $gray-lighter; }

	// Client Custom BGC
	.bg-alpha{ 
		background-image    : url("./assets/dist/images/pattern.jpg");
		background-repeat   : repeat;
	}

	.bg-home-header{
		background-repeat: no-repeat;
		background-position: center right;
	    background-size: cover;
	}



// Text Colours
	.text-white{
		color: #fff;
	}


// Custom list stuff

