// Site Content
.site-content{
	width: susy-span(12);
}


.container {
  	margin-right: auto;
    margin-left: auto;
    padding-left: gutter();
    padding-right: gutter();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


.container-flex{
    // @include myoutline(red);
    width           : 100%;
    display         : flex;
    justify-content : space-around;
    align-items     : flex-start;
    flex-wrap       : wrap;
    
    margin-right: auto;
    margin-left: auto;
    padding-left: gutter();
    padding-right: gutter();

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
}


// Blog and archive Page
.site-blog{


  .content{
    // @include myoutline(blue);
    width: 100%;
    
    @include breakpoint($screen-sm-min){
      padding-right: gutter()*2;
       width: susy-span(8);
    }

    @include breakpoint($screen-md-min){
       width: susy-span(8);
    }

  }

  .widget-area{
    // @include myoutline(green);
    width: 100%;

    @include breakpoint($screen-sm-min){
      padding-left: gutter()*2;
      width: susy-span(4);
    }

    @include breakpoint($screen-md-min){
      width: susy-span(4);
    }

  }

}


.cta-icon{
  // @include myoutline(red);
  width: susy-span(12);
  @include breakpoint($screen-sm-min){ width: susy-span(4); }
  @include breakpoint($screen-md-min){ width: susy-span(3); }
  text-align: center;


  img{
    @extend .img-circle;
  }
}

.cta-icon-copy{
  // @include myoutline(red);
  width: susy-span(12); 
  @include breakpoint($screen-sm-min){ width: susy-span(8); }
  @include breakpoint($screen-md-min){ width: susy-span(9); }
}