// Site Footer 
.site-footer{

	#site-footer{
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: ($padding-base-vertical * 8) $padding-base-horizontal $padding-base-vertical $padding-base-horizontal;		
	}

	&-logo, &-form, &-utility{
		// @include myoutline(red);
		margin-bottom:$padding-base-horizontal;
	}


	&-logo{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(12); }
		@include breakpoint($screen-md-min){ width: susy-span(12); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}

	&-form{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(6); }
		@include breakpoint($screen-md-min){ width: susy-span(7); }
		@include breakpoint($screen-lg-min){ width: susy-span(3); }
	}

	&-utility{
		width: susy-span(12);
		@include breakpoint($screen-sm-min){ width: susy-span(3); }
		@include breakpoint($screen-md-min){ width: susy-span(3); }
		@include breakpoint($screen-lg-min){ width: susy-span(2); }
	}


}



// Default Legal stuff
#site-legal{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	.site-info{
		width: susy-span(12);
		text-align: center;

		@include breakpoint($screen-xs-min){
			width: susy-span(6);
			text-align: left;
		}
	}

	.site-longevity{
		width: susy-span(12);
		text-align: center;


		@include breakpoint($screen-xs-min){
			width: susy-span(6);
			text-align: right;
		}
	}

	// Shame
	a{
		color: darken(#fff, 20%); 
	}
}
