.site-header{

	&#masthead{
		// @include myoutline(blue);
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
	}

	&-alpha, &-bravo{
		// @include myoutline(red);
	} 


	&-alpha{
		width: 100%;
		@include breakpoint($screen-sm-min){ width: percentage(4/12); }
		@include breakpoint($screen-md-min){ width: percentage(3/12); }
		@include breakpoint($screen-lg-min){ width: percentage(3/12); }
	}
	
	&-bravo{
		width: 100%;
		@include breakpoint($screen-sm-min){ width: percentage(8/12); }
		@include breakpoint($screen-md-min){ width: percentage(9/12); }
		@include breakpoint($screen-lg-min){ width: percentage(9/12); }


		// Bravo Container layout
		display: flex;
		justify-content: space-between;
		align-items: flex-start; 
		flex-wrap: wrap;

	}

	&-utility{
		width: 100%;
		padding-right: gutter();

		ul{
			margin-bottom: 0;
			padding: 0.5rem 0;
		}
	}

	.main-navigation{
		// @include myoutline(red);
		width: percentage(12/12);

		@include breakpoint($screen-sm-min){
			padding-right: gutter();
			padding-left: gutter(); 
		}

		@include breakpoint($screen-md-min){
			width: percentage(8/12);	
		}
	}

	.nav-utility{
		// @include myoutline(red);
		text-align: right;
		width: percentage(12/12);

		@include breakpoint($screen-md-min){
			padding-right: gutter();
			width: percentage(4/12);	
		}

		ul{ 
			margin: 0;
			height: $navbar-height;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			@include breakpoint($screen-sm-min){
				justify-content: flex-end;
			}
			
			a{
				display: block;
				width: 100%;

				@include breakpoint($screen-md-min){
					display: initial;
					width: auto;					
				}
			} 

			li{ 
				width: 50%; 
				@include breakpoint($screen-md-min){
					width: auto; 
					
				}
			}
		}
	}


} 



.home-header{

	&#masthead{
		position: relative;
		align-items: flex-start;
		overflow: hidden;
	}
 
	&-alpha, &-bravo{
		// @include myoutline(red);
	} 

	.site-header-alpha{
		width: 100%;
		@include breakpoint($screen-sm-min){ width: percentage(4/12); }
		@include breakpoint($screen-md-min){ width: percentage(4.5/12); }
		@include breakpoint($screen-lg-min){ width: percentage(5.4/12); }

		display         : flex;
		flex-direction  : column;
		align-items     : flex-end;
		justify-content : flex-start;
		padding-left    : susy-span(1);

	}


	.image-slide{
		// @include myoutline(green);
		position : absolute;
		right    : 0;
		top      : 0;
		overflow : hidden;
		z-index  : -1;
		width: 100%;
		height: 100%;
		display: none;
		@include breakpoint($screen-sm-min){ 
			width: percentage(8/12); 
			display: block;
		}
		@include breakpoint($screen-md-min){ width: percentage(7.5/12); }
		@include breakpoint($screen-lg-min){ width: percentage(6.61/12); }


		img{
			min-height: 100%;
			width: 100%;
			object-fit: cover;
		}

	}



	// ------------------------------
	
	.site-header-bravo{
		width: 100%;
		@include breakpoint($screen-sm-min){ width: percentage(8/12); }
		@include breakpoint($screen-md-min){ width: percentage(7.5/12); }
		@include breakpoint($screen-lg-min){ width: percentage(6.6/12); }
	}

	.main-navigation{
		// @include myoutline(red);

		@include breakpoint($screen-md-min){
			width: percentage(10/12);	
		}
	}

	.nav-utility{
		// @include myoutline(red);

		@include breakpoint($screen-md-min){
			padding-right: gutter();
			width: percentage(2/12);	
		}
	}

}   

