
// Grid found on home page and projects page
#tct-projects{

	.flex-container{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 $font-size-base;
	}
 
	.thumbnail{
		width: susy-span(12);

		@include breakpoint($screen-xs-min){
			width: susy-span(6);
		}

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
		}

		@include breakpoint($screen-md-min){
			width: susy-span(4);
		}
	}

}


// Grid found on home page and projects page
#tct-services{

	.flex-container{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0;
		
		@include breakpoint($screen-sm-min){
			padding         : 0 $font-size-base;
		}
	}
 
	.thumbnail{
		width: susy-span(12);

		@include breakpoint($screen-xs-min){
			width: susy-span(4);
		}

		@include breakpoint($screen-sm-min){
			width: susy-span(4);
		}

		@include breakpoint($screen-md-min){
			width: susy-span(4);
		}
	}

}


// CTA Bravo Grid
.tct-cta-bravo{

	.flex-container{
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 $font-size-base;
	}
 
	.thumbnail{
		width: susy-span(12);

		@include breakpoint($screen-xs-min){
			width: susy-span(6);
		}

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
		}

		@include breakpoint($screen-md-min){
			width: susy-span(4);
		}
	}

}

#our-plans{

	.tab-pane.active{
		display         : flex;
		justify-content : space-between;
		flex-wrap       : wrap;

		.panel{
			width: susy-span(12);
			@include breakpoint($screen-sm-min){
				width: susy-span(6);
			}
		}
	}
}

 
#technical-accordion{


}